
<div id="wrap">
  <div id="header"><h1>Sign in For Job Seeker</h1></div>
  <div id = "sidebar">
  <%= bootstrap_form_for(:session, :url => sessions_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in" %>
  <% end %>
  </div>
  <br />
  <div id = "nav">
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
</div>
