<div id="wrap">
  <div id="header">
    <h1>Add new Admin</h1></div>
    <div id="sidebar">
    <%= simple_form_for(@admin) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, "Sign up" %>
    <% end %>
    </div>
    <br/>
    <div id="nav">
    <li>
      <%= link_to "Admin Home Page", :back, method: :get %>
    </li>
  </div>
</div>
