
<div id="wrap">
  <div id="header">
<h1>Edit Job</h1>
    </div>

<%= simple_form_for(@job) do |f| %>
      <%= f.input :job_ID %>
      <%= f.input :emp_name %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :tags %>
      <%= f.input :deadline %>
      <%= f.input :category, collection: Category.pluck(:category) %>
      <%= f.input :public %>
      <%= f.button :submit, "Update Job" %>
<% end %>
<br/>
<div id="nav">
<li><%= link_to "Back To View Jobs", session[:empUser], :method => :get %></li>
</div>
    </div>
