<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id="wrap">
  <div id="header">
<h1>Post a Job</h1>
</div>
<%= simple_form_for(@job) do |f| %>
      <%= f.input :job_ID %>
      <%= f.input :emp_name %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :tags, label: 'Tags (eg: Intern, Full Time)' %>
      <%= f.input :deadline, label: 'deadline (YYYY-MM-DD)' %>
      <%= f.input :category, collection: Category.pluck(:category) %>
      <%= f.input :public, label: 'public (eg: 1 for Public and 0 for Private)' %>
      <%= f.button :submit, "Post a Job" %>
<% end %>
<br/>

<div id = "nav">
<br/>
<li><%= link_to "Back To Home Page", session[:employer], :method => :get %></li>
<li><%= link_to "View Available Categories", categories_path, :method => :get %></li>
</div>
</div>
</body>
</html>
