<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id=wrap">
  <div id="header"><h1>Recommended Jobs For you !!!</h1></div>
  <div id="sidebar">
   <% @jobs.each do |r| %>


     <li><strong>Company Name : </strong><%= r.emp_name %>
     <strong>Job Title : </strong><%= r.title%>

      <strong>Job ID : </strong><%= r.job_ID%>
      </li>

    <br/>
<li><%= link_to "Apply for this Job", new_jobapplication_path, :method => :get %></li>
<% end%>
</div>
<div id="nav">
<li><%= link_to "Back To Home Page", session[:userHP], :method => :get %></li>
</div>
</div>
</body>
</html>