
<div id="wrap">

<%= bootstrap_form_tag({:controller => 'jobs', :action => 'search', :method => 'get'})  do |f| %>
    <%= f.text_field :keyword, value: params[:keyword], style: '', placeholder: 'Type Here...' %>
    <br/>
    <%= f.check_box(:one, label: "Employee") %>
    <%= f.check_box(:two, label: "Job Title") %>
    <%= f.check_box(:three, label: "Job Tags") %>

    <%= f.submit "Search" %>
<% end %>


</br>
  <div id="nav">
<li><%= link_to "Back To Home Page", session[:userHP], :method => :get %></li>
    </div>
    </div>
