
<div id="wrap">
  <div id="header">
    <h1>Edit Your Profile Information</h1></div>
    <div id="sidebar">
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :phone_no %>
      <%= f.input :skills %>
      <%= f.input :resume %>
      <%= f.input :coverLetter %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit %>
    <% end %>
    </div>
    </br>
    <div id="nav">
    <li><%= link_to "Back To Home Page", session[:userHP], :method => :get %></li>
  </div>
</div>
