
<div id="wrap">
  <div id="header">
    <h1>Edit Password for Employer</h1>
  </div>
    <div id="sidebar">
    <%= simple_form_for(@employer) do |f| %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.button :submit, "Update Password" %>
    <% end %>
    </div>
  <br/>
  <div id="nav">
    <li><%= link_to "Back To Home Page", session[:employer], :method => :get %></li>
  </div>
</div>
