<h1>Edit Password for Employer</h1>

<%= form_for(@employer) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Update Password" %>
    </div>
<% end %>

<br/>
<li><%= link_to "Back To Home Page", session[:employer], :method => :get %></li>