<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id="wrap">
<div id = "header">
<h1>Edit the Status of Application</h1>
</div>
<%= form_for(@jobapplication) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :status %>(eg: Pending, Not A Fit, Future Interview)<br />
      <%= f.text_field :status %>
    </div>
    <div class="actions">
      <%= f.submit "Update Status" %>
    </div>
<% end %>
</div>
<br/>
<div id="nav">
<li><%= link_to "Back To View Page", session[:empView], :method => :get %></li>
</div>
</div>
</body>
</html>